@import "tailwindcss";


body {
  background-image:url(../../public/background-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inconsolata", monospace;
  color: white;
}
.bg-custom{
  background-color: hsla(252, 5.70%, 82.90%, 0.18);
}
.text-custom{
 color: hsla(252, 6%, 83%, 0.726);
}

.color-orange{
  background-color: hsl(7, 88%, 67%);
}